/* Welcome to variables
 *
 * In this file you should write your variables design
 *
/**
 * Content Start
 *
*/

// BackgroundColor
// --------------------------------------------------
$bodyBackgroundColor     : #FFF;//#E7E8EB;

// font
// --------------------------------------------------
$baseFontFamily          : "Microsoft Yahei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
$baseFontSize            : 62.5%;
$baseFontColor           : #333;

// appearance
// --------------------------------------------------
$button                  : none;
$select                  : none;
$checkbox                : checkbox;

// width
// --------------------------------------------------
$container               : 100%;
